*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    font-family: $default-font-size;
    font-weight: $defualt-font-weight;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
}
