@import './base/colors';
@import './abstracts/variables';
@import './base/typography';
@import './base/base';
@import './base/animations';
@import './abstracts/mixin';
@import './layout/grid';
@import './base/utilities';

@import './components/button';
@import './components/composition';
@import "./components/feature-box";
@import './components/card';
@import './components/story';
@import './components/bg-video';
@import './components/form';
@import './components/navigation';

// Pages
@import './pages/header';
@import './pages/about';
@import './pages/features';
@import './pages/tours';
@import './pages/stories';
@import './pages/book';
@import './pages/footer';

@import './pages/combined';

.Theme-Header {
    color: $main-header-color;
    text-align: center;
}

.Page-Link {
    display: block;

    font-size: 2rem;
    text-decoration: none;
}

.Top-Limit {
    display: block;

    height: 50px;
    width: 100%;

    background: red;
}