@import './base/base';
@import './abstracts/variables';
@import './base/animations';
@import './base/colors';
@import './abstracts/mixin';
@import './base/typography';
@import './layout/grid';
@import './components/button';

// Pages
@import './pages/header';
@import './pages/about';

.Theme-Header {
    color: $main-header-color;
    text-align: center;
}

.Page-Link {
    display: block;

    font-size: 2rem;
    text-decoration: none;
}

.Top-Limit {
    display: block;

    height: 50px;
    width: 100%;

    background: red;
}